* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #222;
    color: #fff;
}
.grud{
    width: 80%;
    margin: auto;
}
.grud .head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus {
    background-color: #000;
    transform: scale(1.1);
}
.grud .input .prise input{
    width: 20%;
}
#total {
    background-color: #e70d0d;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total: ';
}
button {
    background-color: #09388f;
    border: none;
    width: 100%;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background-color: #0a49c0;
    letter-spacing: 1px;
}
#deleteAll {
    margin: 20px 0;
}
.btnseach {
    display: flex;
    justify-content: space-between;
}
.btnseach button{
    width: 45%;
}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th {
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}